
.txt-overlay {
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 12px 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: black;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    border: none;
}

.btn-overlay {
    position: absolute;
    top: 55%;
    left: 7%;
    padding: 12px 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: #E5E7E9;
    color: black;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 1px 1px 2px #888888;
}

.btn-overlay:hover {
    background-color: #E5E7E9;
    box-shadow: 5px 5px 8px #888888;
    color: blue;
}

.btn-overlay2 {
    position: absolute;
    top:55%;
    left: 21%;
    padding: 12px 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: #555;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 1px 1px 2px #888888;
}

.btn-overlay2:hover {
    background-color: #555;
    box-shadow: 5px 5px 8px #888888;
}

.btn-login {
    position: relative;
    border: black solid 1px;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    color: #A85194;
    text-decoration: none;
    box-shadow: 1px 1px 2px #888888;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.fill:hover {
    color: whitesmoke;
}
  
.fill:before {
    position: absolute;
    content: "";
    background: #555;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 14px;
    box-shadow: 5px 5px 8px;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}
  
.fill:hover:before {
    top: 0;
}

.logo {
    height: 60px;
    width: 60px;
}

.logo-lg {
    height: 90px;
    width: 90px;
}

.logo-xl {
    height: 120px;
    width: 120px;
}

.brand {
    font-family: 'Langar', cursive;
    font-size: 30px;
    color: #5D6D7E;
}

.brand-sm {
    font-family: 'Langar', cursive;
    font-size: 20px;
    color: #5D6D7E;
}

.bg-gray {
    background-color: #E5E7E9;
}

.indx-img {
    height: 250px;
    width: 500px;
}

.bg-school {
    background-image: url('../img/school.gif');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.crd {
    box-shadow: 5px 5px 8px;
    border-radius: 25px;
}

.crd:hover {
    box-shadow: 9px 9px 15px;
}

.card-image {
    height: 350px;
    width: 500px;
}

.course-text {
    font-family: 'Langard', sans-serif;
    font-size: 15px;
    color: #555;
}

.footer-tag {
    background-color: #BDC3C7;
    bottom: 0%;
    color: #707B7C;
    display: block;
    height: 100%;
    padding: 5px;
}

.register {
    width: 200px;
}

.btn-normal {
    padding: 12px 50px;
    background-color: #E5E7E9;
    color: black;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 1px 1px 2px #888888;
    transition: all 0.5s;
    margin: 5px;
}

.btn-normal span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .btn-normal span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  

.btn-normal:hover span{
    /* background-color: #E5E7E9;
    box-shadow: 5px 5px 8px #888888;
    color: blue; */
    padding-right: 25px;
}

.btn-normal:hover span:after{
    opacity: 1;
    right: 0;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;

  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.add {
    width: 100%;
    height: 150px;
    border: 2px solid green;
    border-radius: 5px;
}

.add:hover {
    box-shadow: 2px 2px 5px;
    cursor: pointer;
}

.empty {
    font-family: 'Lobster', cursive;
    font-size: 16px;
}

.acctLogo {
    height: 25px;
    width: 25px;
}

.accttype {
    padding-top: 100px;
}

.accttxt {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.smtxt {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

h1 h2 h3 h4 h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.history {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
}
